fake_useragent==0.1.7
Flask==0.12.1
httplib2==0.10.3
joblib==0.11
langdetect==1.0.7
matplotlib==2.0.2
newspaper3k==0.2.5
numpy==1.13.3
pandas==0.20.3
pymongo==3.3.0
requests==2.18.4
seaborn==0.7.1
textacy==0.4.1
WTForms==2.1
beautifulsoup4==4.6.0
scikit_learn==0.19.1
spacy==1.9.0 -e https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz#egg=en_core_web_sm-1.2.0
