<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>News Bias Classifier</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/creative.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>
    submit = function () {
      xsquare = $("#xsquare").val()
      x = $("#x").val()
      constant = $("#constant").val()

      equation = {
        xsquare: xsquare,
        x: x,
        constant: constant
      }

      $.post({
        url: "/solve",
        contentType: "application/json",
        data: JSON.stringify(equation),
        success: function (result) {
          $(".hidden").css("display", "inline").html("Roots are " + result.root_1 + " and " + result.root_2);
        }
      });
    }
  </script>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="triggerAnchor" href="/#how">How it Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://github.com/n2itn/newscraper">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Check the Bias of a News Source</h1>
        <hr>
        <p>In an era increasingly defined by the proliferation of misinformation and polarized politics, it's important for
          internet users to have context for what's on their screen. This microservice uses natural language processing to
          analyze patterns of bias on any news website in real time. Each time a url is submitted, dozens of the most recent
          articles are collected and analyzed for a variety of factors, from political bias to journalistic accuracy.
          <p></p>


      </div>
    </div>
  </header>

  <section class="bg-primary" id="checkurl">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Check a URL</h2>
          <hr class="light">

          <p>Example: breitbart.com </p>

          <form action="" method="POST">
            {{ form.csrf }}

            <div class="input text input-search-box">
              {{ form.name |e}}
            </div>

            <div class="input submit">

              <input class="btn btn-default btn-xl" type="submit" value="Submit" onclick="$('#loading').show();" />
            </div>
          </form>

          <br></br>
          <div id="loading" style="display:none;">
          <!-- <img src="static/img/loader.svg" alt="" /> -->

          <h2 class="section-heading text-white">Loading...</h2>


          <br></br>
          <br></br>
          <br></br>
          <div class="cssload-tetrominos">
            <div class="cssload-tetromino cssload-box1"></div>
            <div class="cssload-tetromino cssload-box2"></div>
            <div class="cssload-tetromino cssload-box3"></div>
            <div class="cssload-tetromino cssload-box4"></div>
          </div>
          <br></br>
          <br></br>
          <p></p>

          <p>Collecting and analyzing articles takes 10 to 20 seconds so please be patient!!!</p>
          <div #content { display: none; }></div>
          <div #loading { top: 200 px; margin: auto; position: absolute; z-index: 1000; width: 160px; height: 24px;
            background: url(loadingimage.gif) no-repeat; cursor: wait; }></div>

          </div>

        </div>
      </div>
  </section>

  <section class="bg-primary2" id="how">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">How it works</h2>
          <br>
          <div style="text-align: center;">
            <img id="methodology" src="static/img/workflow.png" </img>
          </div>
          <p> Using labeled data of bias in news sites from open source projects, a TFIDF vector is fitted on a corpus of 45k
            scraped websites. Non-negative matrix factorization is applied the corpus of articles in each category to amplify
            the signature of the categories to produce 'category vectors'. When a user submits a news website url for analysis,
            a system of EC2 instances and AWS Lambda functions spider the site and scrape 100 of the latest articles. Next,
            another Lambda function performs cosine similarity analysis between the scraped text and each 'category vector'.
            The results are rendered in matplotlib and published via flask. This project is under continued development as
            UX, data visualization and modeling are expanded and refined.

          </p>

          <br>
          <div class="input submit">
            <a class="btn btn-default btn-xl" href="https://github.com/n2itn/newscraper">GitHub</a>
          </div>

        </div>
        </form>

      </div>
    </div>
    </div>
  </section>




  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/popper/popper.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/creative.min.js"></script>

</body>

</html>