boto3==1.9.77
botocore==1.12.77
Click==7.0
cycler==0.10.0
docutils==0.14
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
s3transfer==0.1.13
six==1.12.0
urllib3==1.24.1
waitress==1.4.2
Werkzeug==0.14.1
